# Backend Server Config
PORT=5000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Grafana API Integration Config
GRAFANA_HOST=http://localhost:3000
GRAFANA_TOKEN=your_grafana_service_account_token_here
GRAFANA_DATASOURCE_UID=bf5jy3ppyomwwd

# Prometheus Config Manager
PROMETHEUS_CONFIG_PATH=/etc/prometheus/prometheus.yml
PROMETHEUS_RELOAD_URL=http://localhost:9090/-/reload
